{% extends "layout.html" %}
{% block content %}
<section class="row featured-post-carousel">
    <div class="item post">
        <img src="/app/assets/images/featured-posts/1.jpg" alt="" class="img-responsive main-bg">
        <div class="post-content">
            <div class="container">
                <h5 class="post-meta"><i>in</i> <a href="#">Author Profile</a> | <a href="#">feb 17, 2016</a></h5>
                <h2 class="post-title"><a href="/index/single">Nature, in the broadest sense, is the natural, physical, or material world or universe.</a></h2>
                <a href="index/single" class="btn btn-primary"><span>read more</span></a>            </div>
        </div>
    </div>
</section>

<section class="row content-wrap">
    <div class="container">
        <div class="row" id="post-masonry">
            {% for val in data %}
            <!--Blog Post-->
            <article class="col-sm-4 post post-masonry post-format-image">
                <div class="post-wrapper row">
                    <div class="featured-content row">
                        <a href="index/single"><img src="/app/assets/images/posts/masonry/1.jpg" alt="" class="img-responsive"></a>                    </div>
                    <div class="post-excerpt row">
                        <h5 class="post-meta">
                            <a href="#" class="date">{{val.msgTime|date('d')}} {{val.msgTime|date('m')}}, {{val.msgTime|date('Y')}}</a>
                            <span class="post-author"><i>by</i><a href="#">{{val.msgUser}}</a></span>
                        </h5>
                        <h3 class="post-title"><a href="index/single">{{val.msgTitle}}</a></h3>
                        <p>{{val.msgContent}}</p>
                        <footer class="row">
                            <h5 class="taxonomy"><i>in</i> <a href="#">image</a>, <a href="#">entertainment</a></h5>
                            <div class="response-count"><img src="/app/assets/images/comment-icon-gray.png" alt="">5</div>
                        </footer>
                    </div>
                </div>
            </article>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

